<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Compra de Boletos</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 10px;
		text-align: center;
		/* Centrar el contenido de las celdas */
	}
</style>

<body>

	<div class="container">

		<table>
			<!-- Fila 1 -->
			<tr style="height: 80px;">
				<td colspan="2">vivaair.com</td>
				<td colspan="2">VENTA DE BOLETOS</td>
			</tr>
			<!-- Fila 2 -->
			<tr>
				<td id="ancho">Ciudad Origen</td>
				<td><input type="text"></td>
				<td>Ciudad Destino</td>
				<td><input type="text"></td>
			</tr>
			<!-- Fila 3 -->
			<tr>
				<td>Fecha Salida</td>
				<td><input type="text"></td>
				<td>Fecha Retorno</td>
				<td><input type="text"></td>
			</tr>
			<!-- Fila 4 -->
			<tr>
				<td>Nombre Comprador</td>
				<td><input type="text"></td>
				<td>Cantidad</td>
				<td><input type="text"></td>
			</tr>
			<!-- Fila 5 -->
			<tr>
				<td colspan="4" style="height: 10px;"></td>
			</tr>
			<!-- Fila 6 -->
			<tr>
				<td colspan="4">
					<button style="margin: 0 auto;">Agregar</button>
					<button style="margin: 0 auto;">Limpiar</button>
				</td>
			</tr>
			<!-- Fila 7 -->
			<tr>
				<td colspan="4" style="height: 10px;"></td>
			</tr>
			<!-- Fila 8 -->
			<tr>
				<td colspan="4">
					<table style="width: 100%;">
						<thead>
							<tr>
								<th>Ciudad Origen</th>
								<th>Ciudad Destino</th>
								<th>Fecha Salida</th>
								<th>Fecha Retorno</th>
								<th>Comprador</th>
								<th>Cantidad</th>
								<th>Sub-Total</th>
							</tr>
						</thead>

						<!-- Aquí se completará la tabla con datos de clientes -->
						<tr></tr>
						<tr></tr>
						<tr></tr>
						<tr></tr>

					</table>
				</td>
			</tr>
			<!-- Fila 9 -->
			<tr>
				<td colspan="4" style="height: 10px;"></td>
			</tr>
			<!-- Fila 10 -->
			<tr>
				<td colspan="8"><button style="background-color: red; margin: 0 auto;">Comprar</button></td>
			</tr>
		</table>
	</div>
</body>

</html>